<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/javascripts/present.js"></script>
</head>
<body>
	<nav>
		<a href="/">Home</a> |
		<a href="/insert/">Insert</a> |
		<a href="/update/">Update</a> |
		<a href="/delete/">Delete</a> |
		<a href="/get/">Get</a> |
	</nav>
	{{{ body }}}
</body>
</html>


